<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title> 
     </head>
     <body>
        {% block body %}
        {% endblock %}
     </body>
     <br>
     <footer>
         <div id="bottomNav">
             <a href="{{ url_for('index') }}">Home</a><br>
             {% if session['active_user'] %}
             <a href="{{ url_for('logout') }}">Logout</a>
             {% else %}
             <a href="{{ url_for('login') }}">Login</a>
             {% endif %}
         </div>
     </footer>
</html>

